In [1]:
import json
import time
import pandas as pd
from kafka import KafkaProducer

In [38]:
p = KafkaProducer(bootstrap_servers='localhost:9092')
i = 0
a = 0
b = 5

In [39]:
%%html

<style>
div.output_area pre {
    white-space: pre;
}
</style>

In [13]:
! pip install  openpyxl

Requirement already satisfied: openpyxl in c:\users\mmens\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: jdcal in c:\users\mmens\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\mmens\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [40]:
test = pd.read_excel('stream_data.xlsx', engine='openpyxl')

In [41]:
test

,year,month,user_account_id,user_lifetime,user_intake,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,user_has_outgoing_calls,user_has_outgoing_sms,...,last_100_calls_outgoing_duration,last_100_calls_outgoing_to_onnet_duration,last_100_calls_outgoing_to_offnet_duration,last_100_calls_outgoing_to_abroad_duration,last_100_sms_outgoing_count,last_100_sms_outgoing_to_onnet_count,last_100_sms_outgoing_to_offnet_count,last_100_sms_outgoing_to_abroad_count,last_100_gprs_usage,churn
0,2013,6,1167216,3,1,1,23.79,0.21,1,1,...,1.18,0,0.00,0,6,4,1,0,0.00,0
1,2013,6,1167223,3,1,1,10.91,28.64,1,1,...,36.93,0,25.00,0,12,0,2,0,417.84,0
2,2013,6,1167226,3,1,1,6.75,8.25,1,0,...,53.37,0,48.48,0,0,0,0,0,0.00,0
3,2013,6,1167229,3,1,1,1.80,12.87,1,1,...,65.10,0,43.62,0,7,0,5,0,0.00,0
4,2013,6,1167230,3,1,3,48.00,0.00,1,1,...,4.25,0,0.00,0,2,0,0,0,0.00,0
5,2013,6,1167235,3,1,2,14.46,0.54,1,1,...,0.00,0,0.00,0,15,0,6,0,0.00,0
6,2013,6,1167239,3,1,1,12.04,2.99,1,1,...,2.00,0,2.00,0,22,7,15,0,0.30,0
7,2013,6,1167244,3,1,2,13.86,1.14,1,1,...,0.00,0,0.00,0,19,0,19,0,0.00,0

In [42]:

df =test.drop(['year','user_account_id'], axis = 1)

In [43]:
df

,month,user_lifetime,user_intake,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,user_has_outgoing_calls,user_has_outgoing_sms,user_use_gprs,user_does_reload,...,last_100_calls_outgoing_duration,last_100_calls_outgoing_to_onnet_duration,last_100_calls_outgoing_to_offnet_duration,last_100_calls_outgoing_to_abroad_duration,last_100_sms_outgoing_count,last_100_sms_outgoing_to_onnet_count,last_100_sms_outgoing_to_offnet_count,last_100_sms_outgoing_to_abroad_count,last_100_gprs_usage,churn
0,6,3,1,1,23.79,0.21,1,1,0,1,...,1.18,0,0.00,0,6,4,1,0,0.00,0
1,6,3,1,1,10.91,28.64,1,1,1,1,...,36.93,0,25.00,0,12,0,2,0,417.84,0
2,6,3,1,1,6.75,8.25,1,0,0,1,...,53.37,0,48.48,0,0,0,0,0,0.00,0
3,6,3,1,1,1.80,12.87,1,1,0,1,...,65.10,0,43.62,0,7,0,5,0,0.00,0
4,6,3,1,3,48.00,0.00,1,1,0,1,...,4.25,0,0.00,0,2,0,0,0,0.00,0
5,6,3,1,2,14.46,0.54,1,1,0,1,...,0.00,0,0.00,0,15,0,6,0,0.00,0
6,6,3,1,1,12.04,2.99,1,1,1,1,...,2.00,0,2.00,0,22,7,15,0,0.30,0
7,6,3,1,2,13.86,1.14,1,1,0,1,...,0.00,0,0.00,0,19,0,19,0,0.00,0

In [48]:
df = df.to_dict(orient="records")[a:b]

In [ ]:
while True: 
    p.send('test',json.dumps(df).encode('utf-8'))
    
    i += 1
    a+=5
    b+=5
    time.sleep(5)